<div class="row">
  <div class="col-xs-12">
    <h1>
      <%= @list.name %>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <a href="<%= new_list_item_path(@list) %>" class="btn btn-default" role="button">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
</div>

<ul>
  <% @items.each do |item| %>
    <li>
        <%= item.name %> 
        <%= link_to 'Edit', edit_list_item_path(@list, item) %>
        <%= link_to 'Delete', list_item_path(@list, item), 
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Home', controller: 'lists' %> | 
<%= link_to 'Delete list', list_path(@list), 
            method: :delete,
            data: { confirm: 'Are you sure?' } %>



