<%= form_for([@list, @item]) do |f| %>

  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
        <p>
            <strong>Oops!</strong> You have <%= pluralize(@item.errors.count, "error") %>:
        </p>
        <ul>
            <% @item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
        </ul>
    </div>
  <% end %> 

  <div class="form-group">
    <%= f.text_field :name, {:class => 'form-control', :placeholder => 'Item name'} %>
  </div>

  <p>
    <%= f.submit :class => 'btn btn-default' %>
  </p>
  
<% end %> 